<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear /> <!-- removes global defaults -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local-packages" value="packages" />
  </packageSources>

  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>

  <config>
    <!-- Keep all restored packages local to the repo -->
    <add key="globalPackagesFolder" value="packages" />
  </config>
</configuration>